{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="description" content="NovelPlus - место, где собирается все о визуальных новеллах в СНГ.
    В NovelPlus можно находить и выкладывать свои визуальные новеллы и ассеты для них.
    А для разработчиков - найти единомышленников!">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon"  href="{% static '/misc/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer="defer" src="{% static 'frontend/js/main.43ea320c.js' %}"></script>
    <link rel="stylesheet" href="{% static 'frontend/css/main.de961b6a.css' %}">

    {% csrf_token %}
    <meta name="yandex-verification" content="e38d4768470c4ba2" />
    <meta name="google-site-verification" content="ziAqg4RK2M-fsAIziVXrb0SHFuEcpWsGhwjp7H4ODrI" />

        <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(99028838, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/99028838" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->


</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
</body>
</html>