{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="description" content="NovelPlus - место, где собирается все о визуальных новеллах в СНГ.
    В NovelPlus можно находить и выкладывать свои визуальные новеллы и ассеты для них.
    А для разработчиков - найти единомышленников!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="yandex-verification" content="e38d4768470c4ba2" />
    <link rel="icon" href="{% static '/misc/icon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer="defer" src="{% static 'frontend/js/main.4fa401d5.js' %}"></script>
    <link rel="stylesheet" href="{% static 'frontend/css/main.3c1cb610.css' %}">
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
</body>
</html>